pkgbase = bbrightnessctl
	pkgdesc = System-independent brightness control tool
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/themartiancompany/bbrightnessctl
	arch = any
	license = AGPL3
	makedepends = make
	depends = termux-api
	source = bbrightnessctl-1.0.1.tar.gz::https://github.com/themartiancompany/bbrightnessctl/archive/refs/tags/1.0.1.tar.gz
	sha256sums = 7e568b3abfde66dc23b3921832163f7097d1d6a09c1d397d88f4d1243ccf9f87

pkgname = bbrightnessctl
